! sPHENIX HF TG MD1	Pythia8 Tune
! See discussions at https://indico.bnl.gov/event/10309/

! Beam settings
Beams:idA = 2212   ! first beam, p = 2212, pbar = -2212
Beams:idB = 2212   ! second beam, p = 2212, pbar = -2212
Beams:eCM = 200.   ! CM energy of collision

! Settings related to output in init(), next() and stat()
Init:showChangedSettings = on
#Next:numberCount = 0          ! print message every n events
Next:numberShowInfo = 1            ! print event information n times
#Next:numberShowProcess = 1         ! print process record n times
#Next:numberShowEvent = 1           ! print event record n times

! PDF
# PDF:useLHAPDF = on
# PDF:LHAPDFset = CT10.LHgrid
#PDF:pSet = 7 ! CTEQ6L, NLO alpha_s(M_Z) = 0.1180. 
PDF:pSet = 13 ! NNPDF2.3 QCD+QED LO, NLO alpha_s(M_Z) = 0.130. 

! Process
#HardQCD:gg2ccbar = on
#HardQCD:qqbar2ccbar = on
HardQCD:hardccbar = on ! Enables gg2ccbar and qqbar2ccbar
HardQCD:hardbbbar = on ! Enables gg2bbbar and qqbar2bbbar
SoftQCD:inelastic = off
#Disable everything charm
Charmonium:all = off
411:onMode = off
421:onMode = off
10411:onMode = off
10421:onMode = off
413:onMode = off
423:onMode = off
10413:onMode = off
10423:onMode = off
20413:onMode = off
20423:onMode = off
415:onMode = off
425:onMode = off
431:onMode = off
10431:onMode = off
433:onMode = off
10433:onMode = off
20433:onMode = off
435:onMode = off
4122:onMode = off
4222:onMode = off
4212:onMode = off
4224:onMode = off
4214:onMode = off
4232:onMode = off
4132:onMode = off
4322:onMode = off
4312:onMode = off
4324:onMode = off
4314:onMode = off
4332:onMode = off
4334:onMode = off
4412:onMode = off
4422:onMode = off
4414:onMode = off
4424:onMode = off
4432:onMode = off
4434:onMode = off
4444:onMode = off
# Force D0 -> K- pi+
421:onIfMatch = -321 211


! Cuts
PhaseSpace:pTHatMin = 10.0

# ParticleDecays:limitCylinder = on
# ParticleDecays:xyMax = 0.01
# ParticleDecays:zMax = 0.1

ColourReconnection:mode = 2
TimeShower:alphaSvalue = 0.18